html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --color1: #fff200;
  --color2: #7d5fff;
  --color3: #bdc3c7;
  --color4: #7f8c8d;
  --color5: #34495e;
  --color6: white;
  --color7: #8e44ad;
  --color8: #27ae60;
  --color9: black;
  --color10: rgb(18, 19, 48);
  --color11: #f5f6fa;
  --color12: #2980b9;
  --color13: #d35400;
  --color14: #f1c40f;
  --color15: #686de0;
  --color16: #e1b12c;
  --color17: #5758bb;
  --color18: #b53471;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color9);
  overflow: hidden;
  cursor: default;
}
/*Loader*/

a {
  cursor: pointer;
}

.loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--color9);
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0);
  transition: transform 1s ease-in-out, opacity 1s;
  z-index: 3;
  top: 0;
  opacity: 1;
}

.loader.active {
  transform: translateY(-100%);
  opacity: 0;
}

.loader:hover .flip_content {
  transform: rotateY(0.5turn);
}

.flip_img {
  position: absolute;
  width: 350px;
  height: 450px;
  top: 70px;
}

.flip_content {
  width: 100%;
  height: 100%;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  position: relative;
  border-radius: 50px;
}

.flip_front,
.flip_back {
  border-radius: 50px;
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: transform 1s;
}

.flip_back {
  background-image: url(./img/photo_moi.jpg);
  background-size: 100%;
}

.flip_front {
  transform: rotateY(0.5turn);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color7);
  cursor: pointer;
}

.flip_front_title {
  transform: translateZ(5em);
  color: var(--color6);
  font-size: 1.8em;
}

.titre_bienvenue {
  position: absolute;
  font-size: 3em;
  letter-spacing: 0.1em;
  top: 5px;
  margin-top: 0;
  color: var(--color6);
}

/* Fin Loader */
/* Header*/
header {
  color: var(--color6);
  font-size: 3em;
  margin-left: 5%;
}

.name {
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.5s, opacity 0.5s;
  overflow: hidden;
}

.name.active {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.3s;
}

.short_description {
  opacity: 0;
  font-size: 1.3em;
  transform: translateY(100%);
  transition: transform 0.5s, opacity 0.5s;
  overflow: hidden;
}

.short_description.active {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 1.5s;
}

/* aboutme*/
.aboutme {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.older_job_container {
  position: relative;
  width: 54.5%;
  height: 300px;

  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.5s, opacity 0.5s;
}

.older_job_container.active {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 1.5s;
}
.older_job {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color6);
  border-radius: 50px;
  transition: transform 0.3s;
}

.icon_key {
  position: absolute;
  right: 4%;
  bottom: 4%;
  width: 100px;
  height: 100px;
}
.icon_key_anim {
  position: absolute;
  right: 4%;
  bottom: 4%;
  display: none;
  width: 100px;
  height: 100px;
}

.older_job_container:hover .icon_key {
  display: none;
}
.older_job_container:hover .icon_key_anim {
  display: block;
}

.older_job_container:hover .older_job {
  transform: scale(0.95);
}

.exp_pro {
  color: var(--color9);
  position: absolute;
  top: 0;
  left: 35px;
}

.msg_exp_pro {
  color: var(--color9);
  position: absolute;
  left: 35px;
  font-size: 3em;
}

.next_to_older_job {
  width: 44.5%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact_container,
.sources_container {
  width: 100%;
  height: 48%;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}
.contact_container.active {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 1.8s;
}
.sources_container.active {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 2.1s;
}
.contact_container:hover .contact,
.sources_container:hover .sources {
  transform: scale(0.95);
}

.contact,
.sources {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: transform 0.3s;
  overflow: hidden;
  position: relative;
}

.contact {
  background: var(--color8);
  position: relative;
}

.text_contact {
  position: absolute;
  height: 30%;
  left: 35px;
}

.lien_contact {
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lien_contact i {
  font-size: 3.5em;
  color: var(--color6);
}

.sources {
  background-color: var(--color7);
}

.text_sources {
  position: absolute;
  height: 30%;
  left: 35px;
}

.list_container {
  width: 75%;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

.list_sources {
  font-size: 4em;
  transform: translateX(100%);
  text-transform: uppercase;
  color: var(--color6);
  transition: transform 3s;
  text-decoration: none;
}

.list_sources.active {
  transform: translateX(-500%);
  transition: transform 13s ease-out;
  transition-delay: 1s;
}

p {
  color: var(--color6);
}

/*help me*/

.help_me_container {
  width: 100%;
  height: 400px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.help_me_container.active {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 2.3s;
}

.help_me_container:hover .help_me {
  transform: scale(0.95);
}

.help_me {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 13px;
  border-radius: 50px;
  background-color: var(--color5);
  display: flex;
  align-items: center;
  transition: transform 0.3s;
}

.what_i_need {
  position: absolute;
  top: 0;
  left: 35px;
}

.for_what {
  margin-left: 35px;
  width: 50%;
  font-size: 3.1em;
}

/* afci */

.afci,
.myself,
.softskills,
.hardskills,
.school {
  margin: auto;
  width: 90%;
  height: 200px;
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
}

.left1,
.left2,
.left3,
.left4,
.left5,
.right1,
.right2,
.right3,
.right4,
.right5 {
  width: 50%;
  height: 100%;
}

.left1,
.left2,
.left3,
.left4,
.left5 {
  background-color: var(--color17);
  border-radius: 50px;
  transform: translateX(100%);
  transition: transform 1s;
}

.text_skills {
  position: absolute;
  top: 0%;
  left: 35px;
  color: var(--color6);
}

.left1.active,
.left3.active,
.left4.active,
.left2.active,
.left5.active {
  transform: translateX(-2%);
}
.right1,
.right3,
.right4,
.right2,
.right5 {
  background-color: var(--color11);
  border-radius: 50px;
}

.top_right1,
.bottom_right1 {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.right1 i {
  font-size: 4em;
}

.fa-html5 {
  color: var(--color12);
}

.fa-css3 {
  color: var(--color13);
}

.fa-js {
  color: var(--color14);
}

.fa-php {
  color: var(--color15);
}

.my {
  color: var(--color12);
}
.sql_orange {
  color: var(--color13);
}

.sql {
  font-size: 2em;
  color: var(--color2);
  font-weight: bold;
  display: inline-block;
  margin: 0;
}

.right2,
.right5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.right4 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.text_skills_right {
  color: black !important;
  display: inline-block;
  margin-left: 35px;
  font-size: 1em;
  margin-top: 0;
}
.right3 .text_skills_right {
  color: black !important;
  display: inline-block;
  margin-left: 0;
  font-size: 1em;
  margin-top: 0;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  transition-delay: 1s;
}
.right3 .text_skills_right.active {
  transform: translateX(0);
  opacity: 1;
}

.right4 .text_skills_right {
  color: black !important;
  display: inline-block;
  margin-left: 0;
  font-size: 1em;
  margin-top: 0;
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  transition-delay: 1s;
}
.right4 .text_skills_right.active {
  transform: translateX(0);
  opacity: 1;
}

/* books series */

.books_series {
  width: 100%;
  height: 200px;
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.book_container,
.series_container {
  position: relative;
  width: 49.5%;
  height: 100%;
  border-radius: 50px;
}
.books,
.series {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: transform 0.3s;
  overflow: hidden;
}

.books {
  background-color: var(--color4);
}
.series {
  background-color: var(--color4);
}

.book_text,
.series_text {
  position: absolute;
  top: 0%;
  left: 35px;
  color: var(--color6);
}

.book_icon {
  position: absolute;
  right: 4%;
  bottom: 4%;

  width: 100px;
  height: 100px;
}
.book_icon_anim {
  position: absolute;
  right: 4%;
  bottom: 4%;
  display: none;
  width: 100px;
  height: 100px;
}
.tv {
  position: absolute;
  right: 4%;
  bottom: 4%;
  width: 100px;
  height: 100px;
}
.tv_anim {
  position: absolute;
  right: 4%;
  bottom: 4%;
  display: none;
  width: 100px;
  height: 100px;
}

.book_container:hover .books,
.series_container:hover .series {
  transform: scale(0.95);
}

.book_container:hover .book_icon {
  display: none;
}
.book_container:hover .book_icon_anim {
  display: block;
}
.series_container:hover .tv {
  display: none;
}
.series_container:hover .tv_anim {
  display: block;
}

.stranger_container {
  width: 75%;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

.stranger_things,
.seo {
  font-size: 4em;
  transform: translateX(100%);
  text-transform: uppercase;
  color: var(--color6);
  transition: transform 3s;
}

.stranger_things.active {
  transform: translateX(-500%);
  transition: transform 13s ease-out;
  transition-delay: 1s;
}

.seo_container {
  width: 75%;
  text-overflow: clip;
  white-space: nowrap;
  overflow: hidden;
}

.seo.active {
  transform: translateX(-450%);
  transition: transform 12s ease-out;
}

/*beer crafter*/

.craft_container {
  width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 13px;
}

.craft {
  border-radius: 50px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--color16);
}

.not_convince {
  position: absolute;
  top: 0%;
  left: 35px;
  color: var(--color10);
  z-index: 2;
}

.beer_text {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 3em;
  color: var(--color10);
  z-index: 2;
  margin-left: 50px;
  width: 100%;
}

.beer_text img {
  width: 200px;
  z-index: 2;
  margin-left: 65px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.beer_text img.active {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 1s;
}

.right_icon_crafter {
  position: absolute;
  left: 250px;
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: -0.1em;
  color: var(--color10);
  z-index: 2;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.right_icon_crafter.active {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 1s;
}

.right_icon_side {
  position: absolute;
  left: 260px;
  bottom: 10px;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

.right_icon_side.active {
  transform: translateY(0);
  opacity: 1;
  transition-delay: 2.5s;
}

.vague1 {
  position: absolute;
  width: 200%;
  height: 95%;
  bottom: 0;
  transform: translateY(100%);
  transition: transform 3s;
}

.vague2 {
  position: absolute;
  width: 200%;
  height: 100%;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 3s ease-out;
}

.vague1.active {
  transform: translateY(80%);
  transform: translateX(-50%);
  transition-delay: 0.25s;
}
.vague2.active {
  transform: translateY(80%);
  transform: translateX(50%);
}

/* footer */

footer {
  width: 100%;
  height: 150px;
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
}

.lien,
.logiciels {
  border-radius: 50px;
}

.lien_container {
  width: 34.5%;
  height: 100%;

  position: relative;
}

.lien_container:hover .lien {
  transform: scale(0.95);
}

.lien {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
  background-color: var(--color5);
}

.text_lien {
  position: absolute;
  height: 30%;
  left: 35px;
}

.logo_lien {
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lien i {
  font-size: 3.5em;
  color: var(--color6);
}

.logiciels {
  position: relative;
  width: 64.5%;
  height: 100%;
  background-color: var(--color7);
}

.text_logiciels {
  position: absolute;
  height: 30%;
  left: 35px;
}

.logo_logiciels {
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logiciels i {
  font-size: 3.5em;
  color: var(--color6);
}

.vscode,
.krita {
  width: 60px;
}

.fa-heart {
  font-size: 1.5em !important;
}

@media screen and (max-width: 1095px) {
  .for_what {
    width: 75%;
  }
  .seo.active {
    transform: translateX(-600%);
    transition: transform 16s ease-out;
  }
}

@media screen and (max-width: 830px) {
  .seo.active {
    transform: translateX(-800%);
    transition: transform 16s ease-out;
  }
}
@media screen and (max-width: 740px) {
  .for_what {
    width: 100%;
  }
  .text_skills_right {
    margin-left: 15px;
  }
  .beer_text {
    height: 75%;
  }
  .beer_text img {
    width: 150px;
  }
  .right_icon_crafter {
    left: 200px;
  }
  .right_icon_side.active {
    left: 200px;
  }
}
@media screen and (max-width: 598px) {
  .for_what {
    font-size: 2em;
  }
}
@media screen and (max-width: 850px) {
  .msg_exp_pro {
    font-size: 2em;
  }
}
@media screen and (max-width: 630px) {
  .right2 .text_skills_right,
  .right3 .text_skills_right,
  .right4 .text_skills_right {
    font-size: 0.75em !important;
  }
  .list_sources {
    font-size: 2em;
  }

  .short_description {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 790px) {
  .stranger_container,
  .seo_container {
    width: 50%;
    bottom: 0;
    position: absolute;
  }

  .seo,
  .stranger_things {
    font-size: 2em;
  }
}

@media screen and (max-width: 500px) {
  .msg_exp_pro {
    font-size: 1.5em;
    top: 20%;
  }

  .right1 i {
    font-size: 2.5em;
  }
  .sql {
    font-size: 1.5em;
  }

  .book_icon,
  .book_icon_anim,
  .tv,
  .tv_anim {
    width: 75px;
    height: 75px;
  }
}

@media screen and (max-width: 400px) {
  .icon_key {
    width: 50px;
    height: 50px;
  }
  .icon_key_anim {
    display: none;
  }
  .sources_container {
    height: 65%;
  }
  .contact_container {
    height: 34%;
  }
  .text_sources {
    left: 10px;
  }
}

@media screen and (max-width: 660px) {
  .right_icon_crafter {
    left: 125px;
  }
  .beer_text,
  .beer_text img {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .right_icon_side.active {
    left: 125px;
  }

  .lien i {
    font-size: 2.5em;
  }
  .logiciels i {
    font-size: 2.5em;
  }

  .vscode,
  .krita {
    width: 40px;
  }
}

@media screen and (max-width: 530px) {
  .right_icon_side {
    font-size: 0.5em;
  }
} ;
